* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    width: 100%;
    font-family: monospace;
    background-color: #f6f6f6;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 90%;
}

.text {
    text-align: center;
}

h3 {
    font-size: 48px;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
    padding-bottom: 10px;
}

.search {
    margin-top: 3rem;
    text-align: center;
}

input {
    width: 20%;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #cd915a;
    margin-bottom: 2rem;
    background-color: #f6f6f6;
}

input::placeholder {
    font-family: monospace;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: #f8cda0;
    background-color: #cd915a;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.recipe-div {
    margin: 3rem auto;
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px #cd915a;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}

.recipe-image {
    width: 100%;
    margin: 0 auto 1rem;
}

@media screen and (min-width:500px) {
    .food-result {
        width: 75%;
        margin: 0 auto;
    }

    .recipe-div {
        margin: 4rem auto;
    }
}

@media screen and (min-width:650px) {
    .food-result {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .recipe-div {
        margin: 3rem auto;
    }
}

@media screen and (min-width: 1000px) {
    img {
        width: 30%;
    }

    .food-result {
        grid-template-columns: repeat(3, 1fr);
        /* grid-gap: 3rem; */
    }

    .recipe-div {
        margin: 3rem auto;
    }
}